$text-color: white;
$button-color: #5cb85c;
$button-click: #4cae4c;
$opacity: rgba(67, 93, 125, 0.5);
$border: 1px solid #e5e5e5;
$background-color: #eee;

$light-color: #eee;
$medium-color: #999;
$dark-color: #333;
$header-color: #ffe600;
