@import './../../resources/colors.scss';
@import './../../resources/medley.scss';

.breadcrumb-container {
  width: 100%;
  height: 46px;
  padding: $small-margin 0;
  font-size: 14px;
  color: $medium-color;

  .bold {
    font-weight: bold;
  }
}
