@import './../../resources/colors.scss';
@import './../../resources/mixin.scss';
@import './../../resources/medley.scss';

.content {
  width: 1000px;
  align: center;
  border-radius: $border-radius;
  background-color: $background-color;
  margin-bottom: 50px;
  @include flexbox(column, flex-start, center);
}
