@import './../../resources/colors.scss';
@import './../../resources/mixin.scss';

.content {
  width: 100%;
  padding: 0 5px;
  border-radius: 3px;
  background-color: $background-color;
  margin-bottom: 50px;
  @include flexbox(column, flex-start, center);
}
