@import './../../resources/colors.scss';
@import './../../resources/mixin.scss';

.product-container {
  width: 100%;
  height: 150px;
  background-color: $background-color;
  border-bottom: 1px solid $light-color;
  padding: 10px 0;
  @include flexbox(row, flex-start, center);

  .image-container {
    width: 130px;
    height: 130px;
    @include flexbox(row, center, center);

    img {
      width: 100%;
      height: auto;
    }
  }
  .info-container {
    width: 100%;
    height: 130px;
    background-color: goldenrod;
  }
}
