@import './../../resources/colors.scss';
@import './../../resources/mixin.scss';
@import './../../resources/medley.scss';

.product-container {
  width: 100%;
  height: 212px;
  background-color: $background-color;
  border-bottom: 1px solid $light-color;
  border-radius: $border-radius;
  padding: $small-margin;
  @include flexbox(row, flex-start, center);

  .image-container {
    width: 180px;
    height: 180px;
    @include flexbox(row, center, center);

    img {
      height: 100%;
    }
  }
  .info-container {
    width: 80%;
    height: 180px;
    margin-left: $small-margin;
    padding: $small-margin 0;
    color: $dark-color;
    @include flexbox(row, space-between, center);

    .data-column {
      height: 100%;
    }

    .data-column:first-child {
      width: 60%;
      font-size: 18px;
    }

    .data-column:last-child {
      width: 30%;
      height: 70%;
      font-size: 12px;
    }

    .currency {
      font-size: 24px;
      margin-bottom: $large-margin;
      @include flexbox(row, flex-start, center);

      img {
        margin-left: $small-margin;
      }
    }
  }
}
